<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link rel='stylesheet' href='assets/css/burger-style.css' />
    <!-- Materialize CSS -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <!-- Google Icons -->
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <!-- Google Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Pacifico&display=swap'
      rel='stylesheet'
    />
    <title>Eat Da Burger</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>